<div class="container-fluid">
  <div class="row align-items-center" style="height: 75vh;">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
      <form novalidate [formGroup]="checkoutForm" (submit)="createRoom()">
        <div class="form-group mb-3">
          <label for="nicknameInput" class="form-label">Nickname</label>
          <input type="text"
                 class="form-control"
                 id="nicknameInput"
                 formControlName="nickname"
                 placeholder="Choose your display name"
                 minlength="2"
                 maxlength="32"
                 required
                 [ngClass]="{'is-invalid': this.checkoutForm.controls['nickname'].touched &&
                 this.checkoutForm.controls['nickname'].errors,
                 'is-valid': this.checkoutForm.controls['nickname'].valid}">
        </div>
        <div class="form-group mb-3">
          <label for="roomNameInput" class="form-label">Room Name</label>
          <input type="text"
                 class="form-control"
                 id="roomNameInput"
                 formControlName="roomName"
                 placeholder="Choose room display name"
                 minlength="2"
                 maxlength="32"
                 required
                 [ngClass]="{'is-invalid': this.checkoutForm.controls['roomName'].touched &&
                 this.checkoutForm.controls['roomName'].errors,
                 'is-valid': this.checkoutForm.controls['roomName'].valid}">
        </div>
        <div class="form-group mb-3">
          <label for="deckInput" class="form-label">Deck</label>
          <input type="text"
                 class="form-control"
                 id="deckInput"
                 formControlName="deck"
                 aria-labelledby="deckHelp"
                 placeholder="Deck Format: [card_value_1]; [card_value_2]; ... ; [card_value_20]"
                 maxlength="158"
                 required
                 [ngClass]="{'is-invalid': this.checkoutForm.controls['deck'].touched &&
                 this.checkoutForm.controls['deck'].errors,
                 'is-valid': this.checkoutForm.controls['deck'].valid}">
          <div id="deckHelp" class="form-text">
            Deck is a set of cards that participants can choose during a vote.
            The deck contains no more than 20 cards.
            Card values must be unique and no more than 6 characters.
            Deck Format: [card_value_1]; [card_value_2]; ... ; [card_value_20]
          </div>
        </div>
        <div class="form-check mb-3 align-items-center">
          <input class="form-check-input"
                 type="checkbox"
                 id="watcher"
                 formControlName="watcher">
          <label class="form-check-label" for="watcher">
            Join as watcher
          </label>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit" [disabled]="checkoutForm.invalid">Create Room</button>
        </div>
      </form>
    </div>
  </div>
</div>
