@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/rubik/static/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik Medium";
  src: url("assets/fonts/rubik/static/Rubik-Medium.ttf");
}

@font-face {
  font-family: "Rubik Light";
  src: url("assets/fonts/rubik/static/Rubik-Light.ttf");
}

@font-face {
  font-family: "Rubik Black";
  src: url("assets/fonts/rubik/static/Rubik-Black.ttf");
}

@font-face {
  font-family: "Rubik ExtraBold";
  src: url("assets/fonts/rubik/static/Rubik-ExtraBold.ttf");
}

@font-face {
  font-family: "Rubik SemiBold";
  src: url("assets/fonts/rubik/static/Rubik-SemiBold.ttf");
}
